# Fichiers individuels
YADUSTOCK/.vs/YADUSTOCK/v16/.suo
YADUSTOCK/Logic/obj/Debug/Logic.csproj.FileListAbsolute.txt
YADUSTOCK/Storage/obj/Debug/netstandard2.0/Storage.assets.cache
YADUSTOCK/Storage/obj/Debug/netstandard2.0/Storage.csproj.FileListAbsolute.txt
YADUSTOCK/YADUSTOCK/obj/Debug/YADUSTOCK.csproj.FileListAbsolute.txt
